extends layout

block content
  .row
    .col-md-2
    .col-md-8
      h3= title
  .row
    .col-md-2
    .col-md-6
      form(action='/add', method='POST')
        .form-group
          input.form-control.title-area(type='text', name='course' placeholder='Course Name')
        .form-group
          input.form-control.title-area(type='text', name='subject', id='sub_input', placeholder='Subject')
          select.form-control(id = 'sub_drop')
            option(value = '')
            for subject in subjects
              option(value = subject)
                p #{subject}
        .form-group
          input.form-control.title-area(type='text', name='platform',id='plat_input', placeholder='Platform')
          select.form-control(id = 'plat_drop')
            option(value = '')
            for platform in platforms
              option(value = platform)
                p #{platform}
        .form-group
          input.form-control.title-area(type='text', name='organization', id='org_input', placeholder='Organization')
          select.form-control(id = 'org_drop')
            option(value = '')
            for org in orgs
              option(value = org)
                p #{org}
        .form-group
          button.btn.btn-sm.btn-primary.btn-block Add Course
