extends layout

block content
  .row
    .col-md-2
    .col-md-8
      h1= title
  .row
    .col-md-2
    .col-md-8
      form(action='/', method='POST')
        .form-group
          input.form-control.title-area(type='text', name='courseName', placeholder='Course Name')
        .form-group
          button.btn.btn-sm.btn-primary.btn-block Search Course
